@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color:#484847;
}

#global {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

#main-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #505050;
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 0.5rem;
}

#input-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
}

#msg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.2rem;
}

input, button {
    width: 30vw;
    height: 100%;
    border: none;
    border-radius: 0.4rem;
    font-size: 15px;
}

button {
    background-color: #2a3f3f;
}

button:hover {
    background-color: #89c07e;
    transition: 1s;
}

#render button {
    width: 20vw;
}

#render {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 2rem;
}

#list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75vh;
    overflow-y: auto;
    gap: 2rem;
    border: 1px solid #2a3f3f;
}

#img {
    height: 30%;
    width: 30%;
    margin: 0.5rem;
}

#img img {
    width: 90%;
}

.pets img {
    width: 20%;
    height: 20%;
    border-radius: 0.3rem;
}

.pets {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: #505050;
    border-radius: 0.3rem;
    padding: 0.5rem;
    border: 1px solid #2a3f3f;
    text-align: start;
}

.error {
    color: #f00;
}

.success {
    color: #89c07e;
}

.hidden {
    display: none !important; 
}