* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #1d7044;
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}